{% extends "admin/league.html" %}
{% set active_page = "league" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}Season {{ season.id }}{% endblock %}
{% block body %}
<div class="span9">
    {% if matches %}
    <table class="table">
        <thead>
            <tr>
                <th>Alpha</th>
                <th>Beta</th>
                <th>Round</th>
                <th>Division</th>
                <th>Scheduled</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for match in matches %}
            <tr>
                <td><a href="#">{{ match.alpha.username }}</a></td>
                <td><a href="#">{{ match.beta.username }}</a></td>
                <td>{{ match.round }}</td>
                <td>{{ match.division }}</td>
                <td>{{ match.scheduled }}</td>
                <td><a href="#">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <form class="well form-horizontal" method="post" action="{{ url_for(".matches", id=season.id) }}">
        {% for field in form %}
        {{ render_field(field) }}
        {% endfor %}
    </form>
    {% endif %}

</div>
{% endblock %}
