{% extends "admin/league.html" %}
{% set active_page = "league" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}Season {{ season.id }}{% endblock %}
{% block body %}
<div class="span9">

    <h1>Signups</h1>

    <form class="form-horizontal well"  method="post"  action="{{ url_for(".season", id=season.id) }}">
        <h2>Settings</h2>
        {% for field in form %}
        {{ render_field(field) }}
        {% endfor %}
    </form>

    {% if add_user_form.user_id.choices %}
    <form class="form-inline well" method="post" action="{{
        url_for(".add_signup") }}">
        <h2>Add player</h2>
        {% for field in add_user_form %}
        {{ render_field(field) }}
        {% endfor %}
    </form>
    {% endif %}

    {% if signups %}
    <form class="well form-inline" method="post" action="{{
        url_for(".season", id=season.id) }}">
    </form>
    {% endif %}

</div>
{% endblock %}
